.env
node_modules
.vscode

# *********dapp**********
# Compiler files
packages/contracts/cache/
packages/contracts/out/

# Ignores development broadcast logs
packages/contracts/!/broadcast
packages/contracts//broadcast/*/31337/
packages/contracts//broadcast/**/dry-run/

# Docs
packages/contracts/docs/

# Dotenv file
packages/contracts/.env

# *********dapp**********

/packages/dapp/build
/packages/dapp/public/build
/packages/dapp/.env

/packages/dapp/cypress/screenshots
/packages/dapp/cypress/videos
/packages/dapp/prisma/data.db
/packages/dapp/prisma/data.db-journal



# *********congnito**********
packages/cognito-vm/.sunodo/
packages/cognito-vm/.venv/
