.env
node_modules
.vscode


# Compiler files
packages/contracts/cache/
packages/contracts/out/

# Ignores development broadcast logs
packages/contracts/!/broadcast
packages/contracts//broadcast/*/31337/
packages/contracts//broadcast/**/dry-run/

# Docs
packages/contracts/docs/

# Dotenv file
packages/contracts/.env

# *********dapp**********

# dependencies
packages/dapp/node_modules
packages/dapp/.pnp
packages/dapp.pnp.js

# testing
packages/dapp/coverage

# production
packages/dapp/build

# misc
packages/dapp.DS_Store
packages/dapp.env.local
packages/dapp.env.development.local
packages/dapp.env.test.local
packages/dapp.env.production.local

packages/dappnpm-debug.log*
packages/dappyarn-debug.log*
packages/dappyarn-error.log*


# *********congnito**********
packages/cognito-vm/.sunodo/
packages/cognito-vm/.venv/
